<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <div th:insert="~{head :: copy_head}"></div>
  <title>Информация о заказе</title>
</head>
<body>

<div th:fragment="navbar">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" id="link2">VISION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Назад в личный кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/authentication"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">Назад к списку заказов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#link1"></a>
          </li>
        </ul>
      </div>
    </div>>
  </nav>
</div>

<div class="container" mt-5>
  <div class="row align-items-start">
    <div class="col">
<form method="POST" th:action="@{/logout}">
  <button type="submit">Выйти из личного кабинета</button>
</form>
<br>

<br>

<hr>
<br>
<h1>Информация о заказе: </h1>
<form th:method="post" th:action="@{/admin/order/{id}(id=${order.getId()})}" th:object="${order}">
<p th:text="'Номер заказа: ' + ${order.getOnumber()}"></p>
<p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
<p th:text="'Состав заказа: ' + ${order.getProduct().getTitle()}"></p>
<p th:text="'Стоимость: ' + ${order.getPrice()}"></p>
<p th:text="'Логин покупателя: ' + ${order.getPerson().getLogin()}"></p>
<p th:text="'ID покупателя: ' + ${order.getPerson().getId()}"></p>
<p th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
  <label for="status">Изменить статус заказа: </label>
  <select name="status" th:field="*{status}" id="status">
    <div th:each="orderStatus: ${status}">
      <option th:text="${orderStatus}" th:value="${orderStatus}"></option>
    </div>
  </select>
  <input type="submit" value="Изменить статус">
</form>
    </div>
  </div>
</div>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>