<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="~{head :: copy_head}"></div>
    <title>INDEX</title>
</head>

<body>
<div th:fragment="navbar">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">VISION</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Корзина</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#link1"></a>
                    </li>
                </ul>
            </div>
        </div>>
    </nav>
</div>
<div class="container" mt-5>
    <div class="row align-items-start">
        <div class="col">



    <h2>Личный кабинет</h2>
            <hr>
    <form method="POST" th:action="@{/logout}">
        <button type="submit">Выйти из личного кабинета</button>
    </form>
    <br>
<!--    <form method="get" th:action="@{/cart}">-->
<!--        <button type="submit">Корзина</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <form method="get" th:action="@{/orders}">-->
<!--        <button type="submit">Ваши заказы</button>-->
<!--    </form>-->
    <br>
    <h3>Сортировка, поиск, фильтрация</h3>
    <!--th:action - указываем, каким URL-адресом будет обработана наша страница(на какой адрес
    её отправляем, т.е. этот адрес д.б. у соответствующего контролера
    В name указываем имя, по которому контроллер будет принимать введенные значения с поля-->
    <form th:method="POST" th:action="@{/person account/product/search}">
        <fieldset>
            <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
            <label for="search">Поиск по наименованию</label>
            <input type="text" id="search" name="search" th:value="*{value_search}">
            <br>
            <p>Цена, Р</p>
            <label for="ot">От</label>
            <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
            <label for="do">До</label>
            <input type="text" name="do" id="do" th:value="*{value_price_do}">
            <br>
            <br>
            <div>
                <!--  Отправляем по ключу value полученное с формы значение на контроллер и обрабатываем его там-->
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Отсортировать по возрастанию цены</label>
                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">Отсортировать по убыванию цены</label>
                <p>Категория товара:</p>
                <input type="radio" id="furniture" name="contract" value="furniture">
                <label for="furniture">Линзы</label>
                <input type="radio" id="appliances" name="contract" value="appliances">
                <label for="appliances">Растворы</label>
                <input type="radio" id="clothes" name="contract" value="clothes">
                <label for="clothes">Очки для компьютера</label>
                <br>
                <br>
                <input type="submit" value="Найти">
            </div>
        </fieldset>
    </form>
    <hr>
    <h3>Результат поиска, сортировки, фильтрации</h3>
    <!--Тут мы принимаем {search_product}, который приходит к нам из метода productSearch продуктКонтроллера, который обрабатывает поисковый запрос-->
    <div th:each="product: ${search_product}">
        <!--Изображение по ссылке /img/названиеФото, где заместо /img/ подставиться значение, указанное в классе Config
        (там указано, что если встречается путь "/img/, то вместо него подставляем "file:///"+uploadPath+"/",
        а после слэша будет название первой фотографии в листе фотографий данного товара-->
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <!--Добавляем ссылку на добавление товара в корзину-->
        <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
        <hr>
    </div>

    <h3>Доступные товары: </h3>
    <div th:each="product : ${products}">
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
        <hr>
    </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>


</body>
</html>
