<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Footer</title>
</head>
<body>
      <div th:fragment="copy">
        <div>
        <div class="container">
          <footer class="row ">
            <div class="col mb-3">
              <a href="#link2" class="">
                <img
                        src="/img/Sc16.jpg"
                        class="bi me-2"
                        width="15%"

                 alt="что-то пошло не так">
              </a>
              <p>© 2023 VISION - yours live choice</p>
            </div>

            <div class="col mb-3"></div>
            <div class="col mb-4">
              <h5>Наши контакты</h5>
              <ul class="nav flex-column">
                <li class="nav-item" mb-3>
                  <a class="nav-link p-0 text-muted">Тел: +78008088080</a>
                </li>
                <li class="nav-item" mb-3>
                  <a class="nav-link p-0 text-muted">Тел: +7(926)250-50-05</a>
                </li>
              </ul>
            </div>
            <div class="col mb-4">
              <h5>Наши контакты в месенджерах</h5>
              <ul class="nav flex-column">
                <li class="nav-item" mb-3>
                  <a class="nav-link p-0 text-muted">Telegram</a>
                </li>
                <li class="nav-item" mb-3>
                  <a class="nav-link p-0 text-muted">Viber</a>
                </li>
              </ul>
            </div>
          </footer>
        </div>

        </div>
      </div>






</body>
</html>